<<<<<<< HEAD:CV/TABELA.css
=======
<<<<<<< HEAD:CV/TABELA.css
>>>>>>> 73b834b626374faf10262c89b2a14fbdf7b02a17:TABELA.css
table,th,td{
    border: 3px solid;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  
}

tr:nth-child(even) {background-color: gray;}

th{
    height: 40px;
    background-color: chartreuse;
    color: dimgray;
    text-align: center;
}

.a,
.b,
.c{
    color: #ff002b;
    text-align: center;
    font-size: 60px;   
}

.a:hover{
    color: chartreuse;
}

.b:hover{
    color: chartreuse;
}

.c:hover{
    color: chartreuse;

<<<<<<< HEAD:CV/TABELA.css
}
=======
}
=======
table,th,td{
    border: 3px solid;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  
}

tr:nth-child(even) {background-color: gray;}

th{
    height: 40px;
    background-color: chartreuse;
    color: dimgray;
    text-align: center;
}

.dev-a,
.dev-b{
    text-align: center;
    font-size: 60px;   
}

.dev-a:hover{
    color: chartreuse;
}

.dev-b:hover{
    color: chartreuse;
}

>>>>>>> 77009c8c9dcf6d47eaab5712de4595cc8112f947:TABELA.css
>>>>>>> 73b834b626374faf10262c89b2a14fbdf7b02a17:TABELA.css
